external/eclipse-basebuilder/src/eclipse-sourceBuild-srcIncluded-3.6.2/src/plugins/org.eclipse.equinox.p2.discovery.compatibility/xsd/directory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="http://www.eclipse.org/mylyn/discovery/directory/" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.eclipse.org/mylyn/discovery/directory/">
	
	<annotation>
		<documentation>
		Describes the XML format used by a Mylyn discovery directory.
		</documentation>
	</annotation>
	
	<complexType name="OpenAttrsComplex">
		<annotation>
			<documentation>extend this type to allow for attributes from other namespaces</documentation>
		</annotation>
		<complexContent>
			<restriction base="anyType">
				<anyAttribute namespace="##other" processContents="lax"/>
			</restriction>
		</complexContent>
	</complexType>
	
	
    <element name="directory">
    	<complexType>
    		<complexContent>
				<extension base="tns:OpenAttrsComplex">
		    		<sequence>
		    			<element ref="tns:entry" minOccurs="0" maxOccurs="unbounded"/>
		    		</sequence>
    			</extension>
    		</complexContent>
    	</complexType>
    </element>
    
    <element name="entry">
		<complexType>
 			<complexContent>
				<extension base="tns:OpenAttrsComplex">
					<attribute name="url" type="anyURI"/>
					<attribute name="permitCategories" type="boolean"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>